body {
    background-color: rgb(40, 38, 38);opacity:0.2;
    color: rgb(255, 255, 255); opacity:0.85;
}
h1{
    text-align: center;  
}
h4{
    text-align: center;
}
p{
    font-family: 'Courier New', Courier, monospace;
}

table{
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
td{
    text-align: center;
}

