body {
    background-color: rgb(46, 44, 44);opacity:0.2;
    color: rgb(255, 255, 255); opacity:0.85;
}

h4{
    text-align: center;
}
p{
    font-family: 'Courier New', Courier, monospace;
}

table{
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

td{
    text-align: center;
}

img{
    height: 200px;
    width: auto;
}

.container{
    text-align: center;
}
