<!DOCTYPE html>
<html lang='en'>

<head>
<meta charset='UTF-8'>
<title> homepage </title>
<link rel="stylesheet"
href="static/css/styles.css"
</head>

<body>
    <h1> once upon a http</h1>
    <h4> welcome! this is a resource for learning the different http errors (ft. my friends) </h4>
    <p>
        <br><br>
        add /[status_code] to the url to see what the error is all about. <br><br>
        these are some of the errors you could try out:
        <br><br>
    </p>
    <table>
        <thead>
            <th> status code  </th>
            <th> what it means </th>
        </thead>
        <tbody>
            <tr>
                <td> 200 </td>
                <td> continue </td>
            </tr>
        </tbody>
    </table>   
</body>
</html>